

    <div class="container cuerpo-pagina text-center">
      <div class="titulo-pagina text-center">
        <span class="font_titulo_pagina ">-- Contacto --</span>
      </div>
      <div class="col-md-4">
        <img id="img_sobre" src="fotos/sobre.png">
      </div>
      <div class="col-md-8">
         <h3>Si tenéis cualquier duda o sugerencia podéis poneros en contacto con nosotros en:</h3>
        <a href="mailto:enrique.barra.arias@gmail.com" target="_top"><h4>enrique.barra.arias@gmail.com</h4></a>
        <a href="mailto:beatrizpulidogarcia@gmail.com" target="_top"><h4>beatrizpulidogarcia@gmail.com</h4></a>
      </div>
    </div>
