

    <div class="container cuerpo-pagina text-center">
      <div class="titulo-pagina text-center">
        <span class="font_titulo_pagina ">-- El tiempo --</span>
      </div>  
      <h3>El tiempo en Toledo para el fin de semana del 25 de Octubre</h3>
      <h4>(Predicción realizada por Enrique Picazo)</h4>
      <img id="eltiempo_img" src="fotos/eltiempo.jpg">
      <h5>Quince días antes de tan magno evento sustituiremos esto por la predicción real</h5>

    </div>
