    <div class="container timeline-container">
      <div class="titulo-pagina text-center">
        <span class="font_titulo_pagina">-- Nuestra Historia --</span>
      </div>
      <ul class="timeline">
          <li>
            <div class="timeline-badge info"><i class="glyphicon box"></i></div>
            <div class="timeline-panel">              
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/caja2.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Nace Enrique</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 24 Junio 1982</small></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>
            <div class="timeline-panel">              
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/cubo.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Nace Bea</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 17 Marzo 1984</small></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge color2"><i class="glyphicon bell"></i></div>
            <div class="timeline-panel">              
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/peque.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Pronto me decanté por el deporte</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> con 3 añitos</small></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge color3"><i class="glyphicon glyphicon-hand-left"></i></div>
            <div class="timeline-panel">              
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/peque2.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Y por los animales</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> con 5 añitos</small></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge color1"><i class="glyphicon ball"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/carro.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Bea ya empezaba a ponerme morritos...</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> con 2 añitos</small></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge success"><i class="glyphicon glyphicon-eye-open"></i></div>
            <div class="timeline-panel">              
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/ratones.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Hasta que me conquistó</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 16 Diciembre 2005</small></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon heart"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/columpio.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Bea happy</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Julio 2008</small></p>
              </div>
            </div>
          </li> 
          <li class="">
            <div class="timeline-badge default"><i class="glyphicon glyphicon-plane"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/pareja.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Viajamos mucho</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Abril 2009</small></p>
              </div>
            </div>
          </li>  
          <li class="timeline-inverted">
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-eye-close"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/bici.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Continué con el deporte...</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Octubre 2009</small></p>
              </div>
            </div>
          </li>          
          <li>
            <div class="timeline-badge default"><i class="glyphicon plane2"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <img class="timeline_photo" src="fotos/juntos.jpg">
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">Y seguimos viajando</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Julio 2013</small></p>
              </div>
            </div>
          </li>   
      </ul>
    </div>

    <div class="container timeline-end">
      <div class="col-md-12 text-center">
        <h4> Hasta que me decidí</h4>
        <img id="menorca" src="fotos/menorca.jpg">
        <div class="huge_font"> Y Bea dijo Sí!</div>
        <img id="sol" src="fotos/sol.jpg">
      </div>
    </div>
