
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <img src="fotos/toledo1.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Toledo - Panorámica desde el mirador del Valle</h1>
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="fotos/caceres1.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Caceres - Santa María</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="fotos/toledo2.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Toledo - Vista aérea</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="fotos/caceres2.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Caceres - Plaza Mayor</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <a href="historia.html">
            <img class="img-circle" src="fotos/caras.jpg" style="width: 160px; height: 160px;">
          </a>
          <h3>Nuestra historia</h3>
          <p>Si quieres saber algo más sobre nosotros entra aquí. ¿Cómo hemos llegado hasta aquí?.</p>
          <p><a class="btn btn-default" href="historia.html" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="evento.html">
            <img class="img-circle" src="fotos/sanjuan.jpg" style="width: 160px; height: 160px;">
          </a>
          <h3>Eventos</h3>
          <p>Información sobre donde se ocurrirá la ceremonia y la posterior celebración.</p>
          <p><a class="btn btn-default" href="evento.html" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="alojamientoymas.html">
            <img class="img-circle" src="fotos/hotel.jpg" style="width: 160px; height: 160px;">
          </a>
          <h3>Alojamiento y más</h3>
          <p>Información sobre alojamientos en Toledo. Pero también bares, peluquerías, qué visitar, en fin todo lo necesario.</p>
          <p><a class="btn btn-default" href="alojamientoymas.html" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div><!-- /.container -->
    
