<div class="container cuerpo-pagina">
    <div class="titulo-pagina text-center">
        <span class="font_titulo_pagina ">-- El viaje --</span>
    </div>
	<div class="row">
      <div class="col-md-6 text-center">
          <h2>Y después ...</h2>
      	  <p> Y después de la boda nos vamos muy lejos, donde no llega el metrobus <img src="http://www.freesmileys.org/smileys/smiley-sad023.gif"/> <br/>
      	  Pero prometemos volver y compartirlo con vosotros.<br/>
      	  Si queréis ayudarnos en esta aventura, lo podéis hacer a través del número de cuenta:<br/>
	      	  <div class="taxi-row">
	      	 	Enrique Barra Arias <br/>
	      	 	IBAN ES79 0073 0100 5804 5906 3078 	      	  	
	      	  </div>
      	  <br/>
      	  Muchas gracias <img src='http://boards.buffalobills.com/images/smilies/wink2.gif'/>
      	  </p>

         
          
      </div>

      <div class="col-md-6 text-center">

          <div class="">
            <img src="fotos/vuelo.jpg">
          </div>             

      </div>
    </div>
</div>