development:
  adapter: mysql2
  database: boda_development
  encoding: utf8
  username: root
  password: 
  socket: /var/run/mysqld/mysqld.sock

production:
  adapter: mysql2
  database: boda_production
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock
