/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
#derecha  .ribbon-front, #izquierda .ribbon-front {
	font-size: 1.5em !important;
  }
}

@media (max-width: 767px) {
  #derecha  .ribbon-front, #izquierda .ribbon-front {
	font-size: 1.5em !important;
	margin-top: 0;
 }
 #lazo{
 	margin-top: 52px;
 }
}

/*Ribbon by http://www.css3d.net/ribbon-generator/#preview*/
#lazo {
	height: 100px;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
	width: 80%;
}

#izquierda {
	width: 50%;
	float: left;
}

#derecha {
	width: 50%;
	float: left;
}

#derecha  .ribbon-front span, #izquierda .ribbon-front span{
	display: inline-block;
	padding-top: 5px;
	line-height: 30px;
}

#derecha  .ribbon-front, #izquierda .ribbon-front {
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: cursive;
	overflow: hidden;
}

/* ribbon style */

#derecha .ribbon-wrapper {
	position: relative;
}
#derecha  .ribbon-front {
	background-color: #4B95B7;	
	height: 40px;
	width: 40%;
	position: relative;
	z-index: 2;
	float: right;
	right: -10px;
}

#derecha  .ribbon-front,
#derecha  .ribbon-back-left,
#derecha  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

#derecha  .ribbon-edge-topleft,
#derecha  .ribbon-edge-topright,
#derecha  .ribbon-edge-bottomleft,
#derecha  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

#derecha  .ribbon-edge-topleft,
#derecha  .ribbon-edge-topright {
}

#derecha  .ribbon-edge-bottomleft,
#derecha  .ribbon-edge-bottomright {
	top: 40px;
}

#derecha  .ribbon-edge-topleft,
#derecha  .ribbon-edge-bottomleft {
	left: 0px;
	border-color: transparent #99c transparent transparent;
}

#derecha  .ribbon-edge-topleft {
	top: -5px;
	border-width: 5px 0px 0 0;
}
#derecha  .ribbon-edge-bottomleft {
	border-width: 0 0px 0px 0;
}

#derecha  .ribbon-edge-topright,
#derecha  .ribbon-edge-bottomright {
	right: -10px;
	border-color: transparent transparent transparent #99c;
}

#derecha  .ribbon-edge-topright {
	top: -10px;
	border-width: 10px 0 0 10px;
}
#derecha  .ribbon-edge-bottomright {
	border-width: 0 0 -5px 10px;
}

#derecha  .ribbon-back-left {
	position: absolute;
	top: -5px;
	left: 0px;
	width: 0px;
	height: 40px;
	background-color: #4B95B7;	
	z-index: 0;
}

#derecha  .ribbon-back-right {
	position: absolute;
	top: -10px;
	right: -30px;
	width: 30px;
	height: 40px;
	background-color: #4B95B7;
	z-index: 0;
}


/* ribbon style */

#izquierda .ribbon-wrapper {
	position: relative;
}
#izquierda  .ribbon-front {
	background-color: rgb(75, 149, 183);	height: 40px;
	width: 40%;
	position: relative;
	left:-10px;
	z-index: 2;
}

#izquierda  .ribbon-front,
#izquierda  .ribbon-back-left,
#izquierda  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

#izquierda  .ribbon-edge-topleft,
#izquierda  .ribbon-edge-topright,
#izquierda  .ribbon-edge-bottomleft,
#izquierda  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

#izquierda  .ribbon-edge-topleft,
#izquierda  .ribbon-edge-topright {
}

#izquierda  .ribbon-edge-bottomleft,
#izquierda  .ribbon-edge-bottomright {
	top: 40px;
}

#izquierda  .ribbon-edge-topleft,
#izquierda  .ribbon-edge-bottomleft {
	left: -10px;
	border-color: transparent #99c transparent transparent;
}

#izquierda  .ribbon-edge-topleft {
	top: -10px;
	border-width: 10px 10px 0 0;
}
#izquierda  .ribbon-edge-bottomleft {
	border-width: 0 10px 0px 0;
}

#izquierda  .ribbon-edge-topright,
#izquierda  .ribbon-edge-bottomright {
	left: 100px;
	border-color: transparent transparent transparent #99c;
}

#izquierda  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}
#izquierda  .ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

#izquierda  .ribbon-back-left {
	position: absolute;
	top: -10px;
	left: -30px;
	width: 30px;
	height: 40px;
	background-color: rgb(75, 149, 183);	z-index: 0;
}

#izquierda  .ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}
